[package]
name = "rusty"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["staticlib"]

[profile.release]
panic = "abort"

[profile.dev]
panic = "abort"

[dependencies]
libc_alloc = { version = "1.0.7", default-features = false }
